#game-over-container {
    position: fixed;
    inset: 0;
    outline: 1px solid red;
    background-color: #a2c579;
    cursor: pointer;
  }

  #game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  
    width: 700px;
    height: 300px;
  
    display: grid;
    place-content: center;
    text-align: center;
    border-radius: 10px;
  
    box-shadow: 0 0 10px 5px black, 0 0 100px 10px black;
  }
  
  #game-over > h2 {
    font-size: 4em;
  }
  
  
  
  .click-container {
    color: hsl(0, 0%, 30%);
    font-style: italic;
    font-size: 1.3rem;
  }
  .high-score {
    background-color: #d2de32;
    color: black;
    font-variant: small-caps;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    width: fit-content;
    margin-inline: auto;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
  }
  
  .score {
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    margin-block: 1rem;
    width: fit-content;
    margin-inline: auto;
  }
  